<div ng-controller="FeedCtrl">
  <div class="form-group">
    <h2>The Props Feed</h2>
    <a href="#/me">View my props</a>
  </div>
  
  <p class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</p>
  
  <form ng-class="{'disabled': isSubmitting}">
    <textarea class="form-control form-group" placeholder="Type something positive here :)" ng-model="newProp.text"></textarea>
    <div class="row form-group">
      <div class="col-md-4">
        <select class="form-control" ng-model="newProp.receiver" ng-options="bru as bru.first_name for bru in brus">
        </select>
      </div>
      <div class="col-md-8">
        <div class="btn btn-info pull-right" ng-click="addProp()">Validate and send!</div>
      </div>
    </div>
  </form>
  
  <div class="props-feed">
    <div class="prop" ng-repeat="prop in props">
      <h3>@{{prop.receiver.first_name}}:</h3>
      <p>{{prop.text}}</p>
      <div class="meta">
        <div>
          <span>Posted</span> {{prop.created_at | date: "MMM dd h:mm"}}{{prop.created_at | date : "a"| lowercase}}
        </div> 
        <div><span>Positivity</span> {{prop.positivity_score | number: 3}}</div>
      </div>
    </div>
  </div>
</div>